.card {
  margin-bottom: 2em;
  width: 100%;
  opacity: 0.7;
}

.card:hover {
  opacity: 1;
} 

.header-text {
   display: "inline-block";
   font-family: 'Roboto', sans-serif;
   margin-left: 0;
   float: left;
   position: relative;
}

.avatar {
  float: right; 
  display: "inline-block";
}

.avatar-image {
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/* .container-fluid {
  margin-left: 2em
} */

.item-info {
  margin-top: 1em;
}