.navbar {
  overflow: hidden;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  /* padding-left: 2em;
  padding-right: 2em; */
  z-index: 9999;  
}
  
  /* image within nav bar */
#navbarText {    
  height: 80px;
  width: 80px;
  display: flex;
}

.nav-link {
  font-size: 1.5em;
}
  
  /* text beside image in nav bar ("Tweeter") */
.navbar-brand {
  color: white;
  float: left;
  font-size: 2em;
  /* top: 5%;
  position: relative; */
}