.navbar {
  overflow: hidden;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;  
}

.nav-link {
  font-size: 1.5em;
}
  
.navbar-brand {
  color: white;
  float: left;
  font-size: 2em;
}